In [1]:
fruits = ["apple", "banana", "kiwi", "mango"]
for x in fruits:
    print(x)

apple
banana
kiwi
mango

In [4]:
vegetable = ["potato", "chilli", "tomato"]
for x in vegetable:
    print(x, end=" ")

potato chilli tomato

SyntaxError: unexpected EOF while parsing (3938813369.py, line 2)

In [6]:
txt = "I LOVE PYTHON"
for word in txt:
    print(word, end="")

I LOVE PYTHON

In [7]:
txt = "I LOVE PYTHON"
for word in txt:
    print(word)

I

L
O
V
E

P
Y
T
H
O
N

In [8]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [9]:
for str in range(1,5):
    print('khushi')

khushi
khushi
khushi
khushi

In [12]:
for i in range(1,11):
print('khushi')

IndentationError: expected an indented block (548517988.py, line 2)

In [13]:
for n in range(1,11):
    print('khushi')

khushi
khushi
khushi
khushi
khushi
khushi
khushi
khushi
khushi
khushi

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for i in range(1,31):
    print(even number)

SyntaxError: invalid syntax (84720017.py, line 2)

In [16]:
for i in range(1,31):
print(i)

IndentationError: expected an indented block (585258616.py, line 2)

In [17]:
for i in range(1,31):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [18]:
for i in range(2, 31, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

print (num %2==o)

NameError: name 'o' is not defined

In [20]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(even number)

SyntaxError: invalid syntax (4007892877.py, line 2)

In [21]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
for i in a:
    if i%2==0:
        print(i)

NameError: name 'a' is not defined

In [22]:
a= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
for i in a:
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [23]:
num = 1
while num<=20:
    print (num)
    num+ = 2

SyntaxError: invalid syntax (3479336319.py, line 4)

In [1]:
num = 1
while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [1]:
x = 1
while x<=5:
    print("khushi")
    x+=1

khushi
khushi
khushi
khushi
khushi

In [3]:
fruits = ["apple", "banana", "cherry", "ladyfinger", "kiwi", "mango", "orange"]
for i in fruits:
    if i == "ladyfinger":
        continue
    print(i)

apple
banana
cherry
kiwi
mango
orange

In [4]:
fruits = ["apple", "banana", "cherry", "ladyfinger", "kiwi", "mango", "orange"]
for i in fruits:
    if i == "ladyfinger":
        break
    print(i)

apple
banana
cherry

In [ ]:
apps = ["google", "zomato", "swiggy", "inshot", "whatsapp", "facebook"]
for i in apps:
    if i =="zomato":
        break
    print(i)

google

In [1]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10