dictioniaries

what we will study

. how to declare it.
. how to acess key and value pairs
how to use loops in dictionary
indexing in dictionary

In [5]:
information={
    "name":"khushi singh",
    "age":"20",
    "class":"5 sem"
}
print(information)

{'name': 'khushi singh', 'age': '20', 'class': '5 sem'}

In [6]:
# format.1 - key : value format.
temp ={
    "lucknow":[25,30,35],
    "delhi":[20,25,30],
    "mumbai":[30,35,40]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [20, 25, 30], 'mumbai': [30, 35, 40]}

In [7]:
# format.2 - dict format. 
info = dict(name="khushi singh",age="20",classes="5 sem")
print(info)

{'name': 'khushi singh', 'age': '20', 'classes': '5 sem'}

In [15]:
#taking input from user 
info2= dict(name=(input("enter your name"))
            age=int(input("enter your age:")),
            course=(input("enter your course:"))) 
print(info2)

SyntaxError: invalid syntax (1791554177.py, line 3)

to access values

In [13]:
#1st method to access the values of a key.
print(information["name"])
print(info["age"])

khushi singh
20

In [14]:
# 2nd method to access the value of a key
print(information.get("name"))

khushi singh

to add item in a dictionary

In [15]:
# 1st method
information["school"]="scpm"
information["city"]= "lucknow"
print(information)

{'name': 'khushi singh', 'age': '20', 'class': '5 sem', 'school': 'scpm', 'city': 'lucknow'}

In [16]:
# to see all the values in once without loop.
print(information.keys())
print(information.values())

dict_keys(['name', 'age', 'class', 'school', 'city'])
dict_values(['khushi singh', '20', '5 sem', 'scpm', 'lucknow'])

In [10]:
# to view all key and values at once use .item.
print(information.items())

dict_items([('name', 'khushi singh'), ('age', '20'), ('class', '5 sem')])

In [16]:
# by using loop.
for k in information: #here k is the pointer value, even if we take any other single pointer variable then it will always refer to key if we are working on dictionary.
    print(k)

name
age
class

In [31]:
# using formatting.
for k,v in information.items():
    print(f"{k}:-{v}")

name:-khushi singh
age:-20
class:-5 sem

In [6]:
company={
    "emp001" :{
        "name":"khushi",
        "age":20,
        "city":"lucknow",
        "salary":2500000
    },
    "emp002" :{
        "name":"saurabh",
        "age":25,
        "city":"delhi",
        "salary":200000
    },
    "emp003":{
        "name":"tommy",
        "age":"17",
        "city":"bombay",
        "salary":20000
    }
}
print(company)

{'emp001': {'name': 'khushi', 'age': 20, 'city': 'lucknow', 'salary': 2500000}, 'emp002': {'name': 'saurabh', 'age': 25, 'city': 'delhi', 'salary': 200000}, 'emp003': {'name': 'tommy', 'age': '17', 'city': 'bombay', 'salary': 20000}}

In [9]:
from pprint import pprint
pprint(company)

{'emp001': {'age': 20, 'city': 'lucknow', 'name': 'khushi', 'salary': 2500000},
 'emp002': {'age': 25, 'city': 'delhi', 'name': 'saurabh', 'salary': 200000},
 'emp003': {'age': '17', 'city': 'bombay', 'name': 'tommy', 'salary': 20000}}

In [10]:
company["emp001"]["name"]

'khushi'

In [ ]:
temp["lucknow"][2]

NameError: name 'temp' is not defined

In [14]:
print(sum(temp["lucknow"])/(temp["lucknow"]))

NameError: name 'temp' is not defined